@use './common';
@use './main';
@use './components/about';
@use './components/contacts';
@use './components/projects';
@use './components/work';
@use './components/further';
@use './components/internship';
@use './components/education';
@use './components/sidebar';
