<div class="main-content">
  <!--Projects -->
  <section class="section projects">
    <h2 class="title">Projects</h2>
    <ul class="projects-list"></ul>
    <ul class="more-projects-list"></ul>
  </section>
  <!-- Further Education -->
  <section class="section further">
    <h2 class="title">Further Education</h2>
    <ul class="further-list"></ul>
  </section>
  <!-- Internship -->
  <section class="section internship">
    <h2 class="title">Internship</h2>
    <ul class="internship-list"></ul>
  </section>
  <!--Work-->
  <section class="section work">
    <h2 class="title">Work Experience</h2>
    <ul class="company-list"></ul>
  </section>
  <!--Education-->
  <!-- <section class="section education">
        <h3 class="title">Education</h3>
        <ul class="education-list">
        </ul>
    </section> -->
  <!--Addition education-->
  <!-- <section class="section education">
        <h3 class="title">Additional education</h3>
        <ul class="addition-list">
        </ul>
    </section> -->
</div>
