<div class="main-content">
  <!--Projects -->
  <section class="section projects">
    <h2 class="title">Project Experience</h2>
    <ul class="projects-list"></ul>
    <ul class="more-projects-list"></ul>
  </section>
  <!-- Further Education -->
  <section class="section further">
    <h2 class="title">Further Education</h2>
    <ul class="further-list"></ul>
  </section>
  <!-- Internship -->
  <section class="section internship">
    <h2 class="title">Internship</h2>
    <ul class="internship-list"></ul>
  </section>
  <!--Work-->
  <section class="section work">
    <h2 class="title">Additional Experience</h2>
    <ul class="company-list"></ul>
  </section>
</div>
