.contacts-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    row-gap: 10px;
}


.contact-type {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    // color: #323b4c;
    margin-right: 8px;
  }
  
  .contacts-list {
    list-style: none;

  }

  .contact-item {
    width: 33%;
    display: flex;
    justify-content: center;
  }
  
  .contact-link {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: white;
    // color: #323b4c;
    text-decoration: none;
    // color: inherit;
    // transition: color 0.5s ease-in-out;
    // transition: color .25s cubic-bezier(.4, 0, .2, 1), 
    // text-shadow .25s cubic-bezier(.4, 0, .2, 1), 
    // text-decoration .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    gap: 5px;
    align-items: center;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
    
    svg {
        transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);;
      }
    }
    
    .contact-link:hover,
    .contact-link:focus {
      // font-weight: 700;
      color: #ffffff;
      text-decoration: none;
    text-shadow: 0 0 5px #000000;
    transform: scale(1.1);


    svg{
      // stroke: black;
      transform: scale(1.1)
    }
  }


  
@media screen and(max-width: 767px) {
  .contacts-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-item {
    width: 100%;
    justify-content: flex-start;
  }
}
