.projects-list,
.more-projects-list {
  padding: 0;
  margin-left: 20px;
  list-style: none;
  position: relative;
}

.more-projects-list {
  display: none;
}

.button-more {
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: rgb(48 88 131);
  }
}

.projects-list::after,
.more-projects-list::after {
  position: absolute;
  top: -10px;
  content: '';
  width: 100%;
  height: 1px;
  color: gray;
}

.projects-list::before,
.more-projects-list::before {
  content: '';
  width: 1px;
  background: gray;
  position: absolute;
  height: calc(100% - 10px);
  left: -20px;
  top: 5px;
}

.project-item {
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px dotted lightgray;
}

.project-item::before {
  content: '';
  width: 10px;
  border-radius: 50px;
  border: 1px solid gray;
  background: white;
  position: absolute;
  height: 10px;
  left: -25px;
  top: 5px;
}

.project {
  font-weight: 700;
  color: #595959;
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-date {
  color: #595959;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .project-name-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .project-date {
    text-align: end;
  }
}
// @media screen and (min-width: 768px) {
// }
/* .project-link-group {

} */
.project-link {
  font-size: 16px;
  color: inherit;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}

.project-link:hover {
  color: rgb(48 88 131);
  text-shadow: 0 0 1px rgb(48 88 131);
  transform: scale(1.1);
  // scale: 1.1;
  text-decoration: none;
}

.project-text {
  text-align: justify;
  margin-bottom: 5px;
}

.github-icon {
  width: 20px;
  height: 20px;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.project-link:hover > .github-icon {
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 1px #000000b3);
}

.project-bracket {
  line-height: 24px;
  color: #737373;
  font-weight: 700;
}
