.sidebar {
    background-color: #595c61;
    color: white;
    padding: 40px 0 30px 30px;
    margin-left: 0;
    min-width: 320px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

}


.sidebar-title {
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}

.sidebar-title::before {
    content: '';
    position: absolute;
    top: 35px;
    width: 100%;
    height: 1px;
    background: white;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
    padding-left: 10px;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
    margin-bottom: 40px;
}

.contact-type {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    margin-right: 8px;
}

.contacts-list {
    list-style: none;
}

.contact-link {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    color: inherit;
}

.contact-link:hover,
.contact-link:focus {
    font-weight: 700;
}

.tech-skills-list,
.soft-skills-list,
.languages-list {
    color: #FFF;
    padding: 0px;
    margin-left: 18px;
    padding-right: 18px;
}

.tech-skills-text,
.soft-skills-text,
.languages-text {
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}