body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main content styles */
.main-content {
    background-color: #FFF;
    padding: 50px 90px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.lang {
    text-align: right;
    margin-bottom: 50px;
}

.lang-link {
    text-decoration: none;
    color: #000000;

}

/* about styles */
.about {
    /* width: 500px; */
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 0;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    /* width: 400px; */
}

/* projects styles */
.projects,
.work,
.education {
    margin-bottom: 50px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 15px;

}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */

.work {
    margin-right: 100px;
}

.company-container {
    width: 550px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.company {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    list-style-type: disc;
}

/* education styles*/
.education {
    margin: auto;
}

.education-uni {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.education-spec {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}

/* sidebars styles */
.sidebar {
    background-color: #1E2939;
    color: white;
    margin-left: 0;
    /* padding-top: 40px; */
    width: 370px;
    border-top-left-radius: 25%;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
    border-radius: 25% 0 25% 0;
}

.sidebar-title {
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.tech-skills {
    margin-bottom: 45px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    margin-right: 8px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A8A8A8;

}

.tech-skills-list,
.soft-skills-list,
.languages-list {
    color: #FFF;
    padding: 0px;
    margin-left: 18px;
}

.tech-skills-item,
.soft-skills-item,
.languages-item {
    color: #FB6D3A;
}

.tech-skills-text,
.soft-skills-text,
.languages-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}